<div class="header">
  <div class="title">
    <div class="icons">
      <div class="icon">
        <img src="../../../assets/icons/left-arrow.svg" alt="" />
      </div>
      <div class="icon">
        <img src="../../../assets/icons/right-arrow.svg" alt="" />
      </div>
      <h2>User Stories</h2>
    </div>
  </div>

  <div class="dropdown">
    <p>
      Project: <strong>Pensions & Annuity</strong>
      <img src="../../../assets/icons/triangle.svg" alt="" />
    </p>
  </div>

  <div class="icon-wrapper">
    <img src="../../../assets/icons/heart.svg" alt=""  class="heart"/>
    <div class="bell">
      <img src="../../../assets/icons/bell.svg" alt="" />
      <div class="notification">2</div>
    </div>
  </div>
</div>
